.start {
  width: 250px;
  height: 125px;
}
.box {
  width: 100px;
  height: 100px;
  border-radius:125px;
  background-color: pink;
  font-size: 10px;
  color: purple;
  text-align: center;
  padding: 15px;
  left: 50px;
  top: 555px;
  position: absolute;
  -webkit-transition-property: width height background-color font-size left top
    transform -webkit-transform color;
  -webkit-transition-duration: 3.5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: width height background-color font-size left top
    transform -webkit-transform color;
  transition-duration: 3.5s;
  transition-timing-function: ease-in-out;
}
.box1 {
  transform: rotate(2920deg);
  -webkit-transform: rotate(2920deg);
  width: 130px;
  height: 130px;
  background-color: purple;
  color: pink;
  font-size: 50px;
  text-align: center;
  left: 150px;
  top: 230px;
  position: absolute;
  -webkit-transition-property: width height background-color font-size left top
    transform -webkit-transform color;
  -webkit-transition-duration: 3.5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: width height background-color font-size left top
    transform -webkit-transformv color;
  transition-duration: 3.5s;
  transition-timing-function: ease-in-out;
}
#big {
  transition: font-size 4s, color 4s;
}
 h1,h2,h3,h4,h5,h6 {
  color: #f15025;

ul{
  background-color:pink;
  display:block;
  overflow:auto;
  padding-bottom:10px;
  height:32px;
}

li {
  transition-property: border, padding;
  float:left;
  padding: 10px;
  list-style-type:none;
  color: red;
  cursor:pointer;
  
}

li:hover {
  transition-property: border, color;
  border-bottom: 5px solid black;
  transition-duration: 0.4s;
  color: white;
  
}
