          .reference {
            font-size: 10px;
            margin-left: 25px;
          }
          .rotateCont {
            height: 130px;
            width: 100px;
            border: 2px solid;
            background: brown;
            color: orange;
          }
          .rotate {
            font-size: 15px;
            font-weight: bold;
            font-family: cursive;
            padding: 50px;
            margin-top: 0;
          }
          .rotate:hover {
            transform: rotate(720deg);
            transform-origin: middle;
            transition: 4s;
          }
          
          .skewCont {
            height: 50px;
            width: 190px;
            border: 2px solid;
            margin-top: 10px;
            background: black;
            color: yellow;
          }
          .skew {
            font-size: 20px;
            font-weight: bold;
            font-family: cursive;
            padding: 5px;
            margin-top: 0;
          }
          .skew:hover {
            transform: skewX(135deg);
            transform-origin: bottom left;
          }
          
          
          .cardCont {
            width: 80px;
            height: 100px;
            position: relative;
            padding-left: 20px;
            perspective: 800px;
          }
          #card {
            width: 100%;
            height: 100%;
            position: absolute;
            transform-style: preserve-3d;
            transition: 1.5s;
          }
          #card figure {
            margin: 0;
            padding-left: 20px;
            display: block;
            position: absolute;
            width: 100px;
            height: 100px;
            backface-visibility: hidden;
          }
          #card .front {
            background: red;
            color: white;
          }
          #card .back {
            background: orange;
            color: white;
            transform: rotateY(180deg);
          }
          #card:hover {
            transform: rotateY(180deg);
          }
